.example-button-row{
  display: flex;
  justify-content: space-around;
}
.login-button{
  text-decoration: underline;
  font-size: x-small;
}
.lost_password_button{
  color: darkred;
  font-size: x-small;
}
