<mat-card style="min-height: 8em">
  <mat-card-content [fxLayout]="'row'">
    <div fxFlex="4em"><i class="material-icons">
      verified_user
    </i>
    </div>
    <div fxFlex>
      <h3>{{user?.profile.username}}</h3>
      <h4>{{user?.profile.email}}</h4>
    </div>
    <div *ngIf="!validateDelete" fxFlex="3em" [fxFlexAlign]="'end'" [fxLayout]="'column'">
      <button color="'warn'" mat-icon-button (click)="deleteValidation(true)">
        <i class="material-icons">
          restore_from_trash
        </i>
      </button>
    </div>
    <div *ngIf="validateDelete" fxFlex="3em" [fxFlexAlign]="'end'" [fxLayout]="'column'">
      <h4>Are you sure?</h4>
      <button color="'primary'" mat-icon-button (click)="deleteValidation(false)">
        <i class="material-icons">
          thumb_down
        </i>
      </button>
      <button color="'primary'" mat-icon-button (click)="delete()">
        <i class="material-icons">
          thumb_up
        </i>
      </button>

    </div>
  </mat-card-content>
</mat-card>
